/* ###################################################################################
  ##############################     freamwork     ####################################
  ###################################################################################
*/
.start-ab {
float: right;
}
.end-ab {
float: left;
}
.end-text {
text-align: left;
}
.start-text {
text-align: right;
}
/* ################################################################################### */



/* ###################################################################################
  ##############################     header      ####################################
  ###################################################################################
*/

/* ################################################################################### */

/* ###################################################################################
  ##############################  slideshow by melad   ####################################
  ###################################################################################
*/


.slide-prev-ar {right:10px !important}
.slide-next-ar {left: 10px !important}
/* ################################################################################### */


/* ###################################################################################
##############################  gallery   ####################################
###################################################################################
*/

.img-box:hover img {
  transform: translateX(10%) !important;
}
/* ################################################################################### */
/* ###################################################################################
##############################  myResponsive   ####################################
###################################################################################
*/

[class*=col-] {
  float: right;
}
/* ################################################################################### */


/* ###################################################################################
##############################  myResponsive fontawsome   ####################################
###################################################################################
*/
.fa-ul {
  margin-left: 0;
  margin-right: 2.5em;
  padding-right: 0;
}
.fa-li {
  right: -2em;
}
/* ################################################################################### */
